 body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    background-image: url(./img/proj.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
 }
/*   
 .whites{
  display: flex;
  margin-left: 90px;
 }

  .whites1{
  background-image: url(./img/bg.jpg);
  margin-top: 70px;
  width: 600px;
  height: 660px;
   margin-bottom: 30px;
   margin-right: 30px; 
   
 } 


.whites2{
  background-image: url(./img/bg.jpg);
 
  width: 600px;
  height: 320px;
  margin-bottom: 20px;
  margin-right: 350px;
  margin-top: 70px;
  
    
  }
  .whites3{
    background-image: url(./img/bg.jpg);
   
    width: 600px;
    height: 320px;
    margin-bottom: 70px;
    margin-right: 350px; 
    margin-top: 20px; 
    
      
    }
  
  
   */